.label-primary, .badge-primary {
  color: white;
}

.label-success, .badge-success {
  color: white;
}

.label-warning, .badge-warning {
  color: white;
}

.label-warning-light, .badge-warning-light {
  color: white;
}

.label-danger, .badge-danger {
  color: white;
}

.label-info, .badge-info {
  color: white;
}

.label-inverse, .badge-inverse {
  color: white;
}

.label-white, .badge-white {
  background-color: white;
  color: #5e5e5e;
}

.label-white, .badge-disable {
  background-color: #2a2e36;
  color: #8b91a0;
}
