.pinterest-title-logo {
  margin-left: 15px;
  vertical-align: sub;
  display: inline-block;
  object-fit: contain;
}
.pinterest-modal-button{
  margin-top: 8px;
}

.pinterest-title-text {
  margin-top: 20px;
  padding-bottom: 4px;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #676b6c;
}

.pinterest-content-text {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888888;
}

.pinterest-choose-modal {
  .body-container {
    display: flex;
    margin: 25px 0 0 6px;

    .pin-image {
      width: 88px;
      height: 88px;
      border: 1px solid $gray34;
      border-radius: 6px;

      @media (max-width: 425px) {
        display: none;
      }
    }

    .radio-buttons-container {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      height: 225px;
      width: 325px;
      overflow: hidden;
      overflow-y: scroll;

      .list-group-radio{
        height: inherit;
      }

      label.list-group-item.radio {
        margin: 0;
        padding: 0;
        border-width: 0;
        background-color: transparent;
        min-height: 45px;
        display: flex;

        @media (max-width: 425px) {
          margin-bottom: 10px;
        }

        .radio-input-container {
          padding-left: 36px;
          display: inline-flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
        }

        .thumb-container {
          display: inline-flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;

          .thumb {
            min-width: 38px;
            max-width: 38px;
            min-height: 38px;
            max-height: 38px;
            border: 1px solid $gray34;
            border-radius: 3px;
            margin-left: 5px;
            margin-right: 5px;

            @media (max-width: 425px) {
              min-width: 60px;
              max-width: 60px;
              min-height: 60px;
              max-height: 60px;
            }
          }
        }

        .name {
          display: inline-flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 400;
          margin-left: 5px;

          .list-group-item-heading {
            margin: auto;
            text-align: left;
            word-break: break-all;
          }
        }
      }
    }
  }
  .list-group-item-radio {
    padding-right: 0;
  }
}

.pinterest-tag-product-modal {
  .tag-product-modal-header {
    padding-right: 28px;
    padding-left: 28px;
  }

  .body-container {
    display: flex;

    .pin-image {
      width: 88px;
      height: 88px;
      margin-top: 8px;
      border: 1px solid $gray34;
      border-radius: 6px;

      @media (max-width: 425px) {
        display: none;
      }
    }

    .search-box-container {
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      width: 240px;

      .please-tag-text {
        color: $grey-blue2;
        font-size: 14px;
        font-weight: 700;
      }

      .search-box {
        .ui-select-container {
          text-align: left;
          padding-left: 7px;
        }

        .close.ui-select-match-close {
          margin-top: 0;
        }

        .ui-select-match-item {
          background-color: $gray2;
          font-size: 11px;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 6px;
          padding-right: 6px;
        }
      }
    }
  }

  .spinner-container {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 34px;
    width: 110px;
    margin-left: auto;
  }
}

.pinterest-no-boards-modal {

  #close {
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  #go-to-pinterest{
    border: none;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0082f5;
  }

  .pinterest-no-boards-text {
    margin: 12px 0 15px 0;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #676a6c;
  }

  .pinterest-create-board-text {
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #676a6c;
  }
}

.map-disclaimer-modal {
  .modal-header {
    text-align: center;
    padding: 15px;
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-title {
    font-size: 20px;
  }
}

#contact-support-modal {
  form {
    margin-bottom: 20px;
  }

  a.chosen-single, input.form-control, textarea.form-control {
    border-radius: 4px;
  }

  .suggested-links {
    .suggested-title {
      padding: 4px 12px 12px 12px;
      cursor: pointer;

      .fa-caret-down, .fa-caret-up {
        float: right;
      }
    }

    .suggested-drop {
      position: absolute;
      background: white;
      width: 410px;
      border-top: 1px solid $input-border;

      .suggested-item {
        border-left: 1px solid $input-border;
        border-right: 1px solid $input-border;
        border-bottom: 1px solid $input-border;
        padding: 8px;
        cursor: pointer;
        color: $gray48;
        display: block;

        .fa-chevron-right {
          margin-right: 5px;
          font-size: xx-small;
        }
      }

      .suggested-item:hover {
        color: $blue;
      }
    }
  }

  a.chosen-single {
    margin-left: 1px;

    &.topic-chosen {
      background-color: $gray50;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  input.account-email {
    background-color: $gray50;
    color: $gray48;
  }

  textarea.form-control {
    height: 110px;
  }

  .topic-description {
    border: 1px solid $input-border;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 12px;
    color: $gray48;
    width: 100%;
    border-top: 0;
    background-color: $gray50;
  }

  .file-size-limit {
    color: $red;
    margin-top: 10px;
  }

  button.close {
    line-height: 0.7;
    font-size: 30px;
  }
}

.update-catalog-modal {
  .modal-dialog {
    width: 470px;
    height: 346px;

    .modal-header {
      padding: 15px;

      .modal-title {
        font-size: 24px;
        font-weight: 300;
        margin-top: 15px;
      }
    }

    .modal-body {
      padding: 10px 60px 26px 60px;

      &.form-submitted {
        padding: 10px 30px 46px 30px;

        .modal-content-text:first-child {
          margin: 0;
        }
      }

      .modal-content-text {
        color: $gray6;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
      }

      .files-uploader-wrapper {
        min-height: 50px;
        margin: 18px 0 8px 0;

        .upload-button {
          padding: 13px 0 0 3px;
        }
      }

      .notification-email-input {
        width: 100%;
        height: 35px;
        border-color: $gray68;
        font-weight: 300;

        &.ng-invalid.ng-submitted {
          border-color: $red;
        }

        &.ng-empty {
          border-color: $gray68;
        }

        &:focus:not(.ng-invalid) {
          border-color: $light-blue3;
        }
      }

      .input-error-message {
        min-height: 17px;

        p {
          margin: 0;
        }
      }

      .btn-upload-catalog-submit {
        width: 118px;
        height: 35px;
      }
    }
  }
}

.sms-provider-integration-modal {

  .modal-dialog {
    width: 470px;

    .bold-hyperlink {
      font-weight: 600;
    }

    .modal-body {
      padding-left: 38px;
      padding-right: 38px;

      .row {
        display: flex;
        align-items: center;
      }

      .btn {
        background-color: $light-blue3;
        border-color: $light-blue3;
        width: 108px;
        height: 35px;
      }
    }

    .modal-content {
      border-radius: 2px;
      padding-bottom: 22px;
      transform: translateY(-25%);

      .step-title {
        font-weight: 600;
        line-height: 1.62em;
        color: $gray54;
      }

      .step-body {
        font-weight: 300;
        line-height: 1.62em;
      }
    }

    .modal-header {
      padding: 15px;
      font-weight: 300;

      .modal-title {
        margin-top: 25px;
        text-align: center;
        color: $gray6;
      }

      .modal-sub-title {
        margin-top: 10px;
        text-align: center;
      }
    }


  }

}
