<div>
  <h2>Navigation</h2>
  <div>
    <ul>
      <li><a routerLink="/feat1/comp1">Feat1/Comp1</a></li>
      <li><a routerLink="/angularjs_a">angularJsA</a></li>
      <li><a routerLink="/angularjs_b">angularJsB</a></li>
      <li><a routerLink="/real_page">real page - lzy</a></li>
      <li><a routerLink="/home">js - HOME</a></li>
    </ul>
  </div>

</div>
<div style="border:1px solid silver;padding:20px;background-color:#f0f0f0">
  <router-outlet></router-outlet>
  <div ui-view></div>
</div>
